<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <table class="table">
      <tr>
        <th>イベント名:</th><td><%= @event.event_name%></td>
      </tr>
      <tr>    
        <th>イベント内容:</th><td><%= @event.content %></td>
      </tr>
      <tr>
        <th>開催日時:</th><td><%= l @event.date_and_time %></td>
      </tr>
    </table> 　　　　
    <%= form_with model: @event, url: organizers_event_path(@event.id), local: true do |f| %>

        <!-- 開催ステータス -->
        <div class="form-group">
            <%= f.label :is_active, "開催状況"%>
            <%= f.select :is_active, {'開催中': true, '終了': false}, { class: 'form-control' , required: true } %>
        </div>
        <%= f.submit '予約する',class:"btn btn-primary btn-md" %>
    <% end %>
  </div>
</div>