<!DOCTYPE html>
<html>
  <head>
    <title>MushimeganeMura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if organizer_signed_in? or /\/organizers/ =~ request.fullpath %>
      <main>
        <%= render "shared/header_organizer" %>
        <%= yield %>
      </main>
    <% elsif %>
      <main>
        <%= render "shared/header_before_participant" %>
        <%= yield %>
      </main>
    <% else %>
      <main>
        <%= render "shared/header_participant" %>
        <%= yield %>
      </main>
    <% end %>
  </body>

  <% if organizer_signed_in? && /\/organizers/ !~ request.fullpath %>
    <footer>
    </footer>
  <% end %>
</html>
